extends layout

block content
        // banner
        .banner
            div(style='text-align: center;')
            h1 FIND THE BEST PLACE
            div(style='padding-left: 20em;')
                a(href='/')
                    h2.roundbtn Discover our packages.
        // Intro
        .grid-container
            .intro.p-lr
                h2 Intro 
                p
                | Few things in life are as valuable as vacation time and, with it,
                | planning the ideal trip. We have the ideal vacation for you,
                | whether you prefer the beach, the city, the opulent, or the budget-friendly.
                | Browse our carefully selected vacation specials, or let us plan your affordable
                | all-inclusive holiday, last-minute vacation, or long weekend break in Canada for
                | you and your family.
            .events.p-lr
                h4 Road trips
                p
                | These ideas will have you putting the pedal to the metal whether you&apos;re travelling to a nearby city or a country village.
                hr
                h4 Vacations? Bring on the savings
                p
                | To enjoy a fantastic summer vacation, you don&apos;t have to spend a fortune. Take a look at these affordable alternatives.
                hr
                h4 Hotels with swimming pools
                p
                | Enjoy the summer season at one of these hotels or vacation rentals with glistening pools that are perfect for a swim.
                hr
            .art.p-lr
                h2 Discover Travel Inc
                p
                | DISCOVER search engine allow users may compare hotel costs from more than 300 booking sites in just a few clicks for more than 5.0 million hotels
                | and other types of accommodation in over 190 countries.
                p
                | You can simply select your favourite hotel and compare prices from many websites with DISCOVER.
                | Simply input your desired destination and travel dates, and our hotel search engine will compare
                | hotel prices for you.
                p
                | DISCOVER is a search engine that compares prices. The prices displayed are taken from a variety of
                | hotel and booking websites. This implies that, while users can utilise DISCOVER to choose the best
                | hotel for their needs, the actual booking is done through the booking sites .
        // Comment