extends layout

block content

    
        // Comment
        
        // banner
        .banner4
            h1(style='font-size : 3vw; line-height: 100%;')
                | Sorry
                br
                | 404 - The page cannot be found
            p(style='background-color: transparent; color: white;')
                | We cannot find the page you are looking for.
                br
                |                 It might have been removed, had its name changed, or is temporarily unavailable.
                br
                |                 Please check that the Web site address is spelled correctly.
            div(style='padding-left: 20em;')
                a(href='/')
                    h2.roundbtn Home page.
        // footer
        