doctype html
html
  head
    title= pagetitle
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' type='image/x-icon' href='../public/img/icon.png')

    // Bootstrap CSS
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')

    link(rel='stylesheet', href='../stylesheets/styles.css')
    link(rel='stylesheet', href='../stylesheets/framework.css')
    link(rel='stylesheet', href='../stylesheets/layout.css')
    link(rel='stylesheet', href='../stylesheets/style.css')

  body
    header#demo-header
      .wrapper.row1
        header#header
          #logo.fl_left
            h1(style='padding: 0px 10px;')
              a(href='/')
                | Discover Travel Inc 
                br
          nav(style='color: white;')
            ul
              li
                a(href='/contact') Contact us
              li
                a(href='/about') About
              li
                a(href='/contact/comments') Comments
              //- if currentUser
              //-     li
              //-       a(href='/post/create') Create a Post
              li
                a(href='/') Home  
                
    .content
      if currentUser
        h3.row.g-1
            .col.mb-2
              span Welcome Back #{currentUser.fname}
            .col.mb-9 
              a(href="/log-out") Log Out
      else
        include login.pug
    
    //- .container
    //-   include nav.pug
      //- .container
      //-   if errors    
      //-     each error in errors
      //-         p.alert.alert-danger= error
      
    .content.my-3
      if message
        .alert.alert-success= message

      //- if  messages()
      //-   .alert.alert-success
      //-     each msg in messages()
      //-       p=msg
    .content
      block content

    footer
      p(style='color: white;')
        | &copy; 2021 Discover Travel Inc., an Discover company. All rights reserved. Discover Group, 2021

    // Optional JavaScript; choose one of the two!
    // Option 1: Bootstrap Bundle with Popper
    //script(src='js/js.js')  
    //- script(src='JS/mfModule.js')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
